name: CI

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - '**'
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [ '7.2', '7.3', '7.4', '8.0', '8.1' ]

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Set up PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{matrix.php}}
        extensions: pdo, imagick

    - name: Install
      run: |
        composer install

    - name: Test
      run: |
        composer test
